body{
	background-color: lightblue;
}

main {
	background-color: white;
	width: 700px;
	text-align: justify;
	margin: auto;
	padding: 50px 100px 50px 100px;
}

h1,h2, .lightblue {
	color:#639eb1;
}

.bouton {
	background-color: lightblue;
	width: 250px;
	height: 50px;
	border-radius: 25px;
	box-shadow: 5px 5px 10px 1px grey;
	text-align: center;
}

